@import "defaults";

#canvas {
  display: block;
  background-color: #fff;
}

#toolbar {
  min-width: 10vw;
  padding: .5rem;
  position: fixed;
  height: 100%;
  background: #ccc;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tool {
  max-width: 80%;
  background: #ddd;
  border-radius: .5rem;
  padding: .5rem;

  label {
    display: block;
    max-width: 100%;
  }

  input {
    display: block;
    max-width: 100%;
  }
}

